.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:musicians, :index)
      %li.active=link_to pat(:new), url(:musicians, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:musician)
    .inner
      -form_for :musician, url(:musicians, :create), :class => :form do |f|
        =partial "musicians/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
