#content_header.block
  %h1
  =pat(:new)
  =mt(:account)
  %ul.actions
    %li.first=link_to 'Cancel', url(:accounts, :index)
#content_wrap.block
  .content
    :javascript
      $('document').ready(function() {
        $('#account').validate();
      });
    -form_for :account, url(:accounts, :create, :id => @account.id), :multipart => true, :id => :account, :class => 'form edit' do |f|
      =partial "accounts/form", :locals => { :f => f }

-# content_for :sidebar, partial("base/sidebar")
